.prodbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.prodbody .prodimage{
    height: 500px;
    width: 50%;
}
.prodbody .prodimage .prodimages{
    height: 100%;
    width: 100%;
}
.prodbody .proddetails{
    width: 40%;
}

.prodbody .proddetails .prodes{
    text-align: justify;
    text-indent: 10px;
}
.prodbody .proddetails .prodcate{
   color: #F97316;
    font-weight: 400;

}
.cart{
  border-radius: 30px;
  margin-left:85%;
  background-color: #02e7d0;
  padding: 10px;
  font-size: medium;
  font-weight: 500;
  border: 0px;
  cursor: pointer;
}
.cart:hover {
  background-color: #26a69a;
}
.cart:active{
    background-color: #0ef0da;  
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.btns .deletebtn{
    border-radius: 30px;
    background-color: #ff1744;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    color: white;
    border: 0px;
    cursor: pointer;
}
.btns .updatebtn{
    border-radius: 30px;
    background-color: #02e7d0;
    color: black;
    padding: 10px;
    font-size: medium;
    font-weight: 500;
    border: 0px;
    cursor: pointer;
}
.btns .deletebtn:hover {
    background-color: #ff5252;
}
.btns .deletebtn:active{
    background-color: #ff1744;
}
.btns .updatebtn:hover {
    background-color: #26a69a;
}
.btns .updatebtn:active{
    background-color: #0ef0da;  
}
@media screen and (max-width:800px){
    .prodbody{
        flex-direction: column;
    }
    .prodbody .proddetails{
    width: 100%;
}
.prodbody .prodimage{
    height: 500px;
    width: 100%;
}
}