.homeitems {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30px;
  width: 95%;
}
.prodhead {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
.prodhead p {
  font-size: 30px;
  font-weight: 600;
  width: 90%;
  text-align: center;
}
.prodhead .carticon{
    padding-top: 40px;

}
.btnsearch .searchbar {
  background-color: rgb(255, 255, 255);
  width: 80%;
  border-radius: 30px;
}
.btnsearch {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  border: 0px;
}
.addbtn {
  width: 10%;
  border-radius: 30px;
  background-color: #02e7d0;
  font-size: medium;
  font-weight: 500;
  border: 0px;
}
.addbtn:hover {
  cursor: pointer;
  background-color: #26a69a;
}
.addbtn:active{
    background-color: #0ef0da;  
}
@media screen and (max-width: 800px) {
  .homeitems {
    grid-template-columns: auto auto;
  }
}
